<%= form_for [@ingredient] do |f| %>
  <div class="">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: :name %>
  </div>

  <div class="">
    <%= f.label :ing_type %>
    <%= f.text_field :ing_type %>
  </div>

  <div class="">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="">
    <%= f.label 'Gluten free' %>
    <%= f.check_box :gluten %>
  </div>

  <div class="">
    <%= f.label 'Lactose free' %>
    <%= f.check_box :lactose %>
  </div>
  <%= f.submit "Create" %>
    <%= link_to "Cancel", :back %>
<% end %>
