<h4><%= @ingredient.name%></h4>
<p>Type: <%= @ingredient.ing_type%></p>
<p>Gluten: <%= @ingredient.gluten%></p>
<p>Lactose: <%= @ingredient.lactose%></p>
<p>description: <%= @ingredient.description%></p>
<%= link_to "Edit", edit_ingredient_path(@ingredient) %></td>
<%= link_to "Remove", "/ingredients/#{@ingredient.id}", method: :delete, data: { confirm: "Are you sure?" } %>
