<table style="width:50%">
  <tr>
    <th>Ingredient</th>
    <th>Type</th>
    <th>Description</th>
    <th>gluten</th>
    <th>Lactose</th>
  </tr>

  <% @ingredient_list.each do |ingredient| %>
    <tr>
      <td><%= link_to "#{ingredient.name}", ingredient , method: 'GET'%></td>
      <td><%= ingredient.ing_type %></td>
      <td><%= ingredient.description %></td>
      <td><%= ingredient.gluten %></td>
      <td><%= ingredient.lactose %></td>
    </tr>
  <%end%>
</table>
<%= link_to "Add Ingredient", new_ingredient_path %>
