
<div class="panel panel-default">
  <div class="panel-heading"><%= @restaurant.name%></div>
  <div class="panel-body">
    <p>Email: <%= @restaurant.email %></p>
    <p>Address: <%= @restaurant.address %></p>
    <p>City: <%= @restaurant.city %></p>
    <p>Country: <%= @restaurant.country %></p>
    <p>Phone: <%= @restaurant.phone %></p>

  </div>
</div>
