<!DOCTYPE html>
<html>
  <head>
    <title>AppDailyEat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3zXSqSdtrHSUCOT_Sq-q6rOMyj-e59uA&callback=myMap"></script>
  </head>

  <body>

    <div class="header">
      <%= render partial: 'layouts/header' %>
    </div>

    <div class="flash_messages" id="flash" style="display:none" >
      <%= render partial: 'layouts/messages' %>
    </div>


    <div class="lateral menu"></div>
    <ul>
      <li><%= link_to "My Restaurant" %></li>
      <li><%= link_to "Meals", meals_path %></li>
      <li><%= link_to "Ingredients", ingredients_path %></li>
      <li><%= link_to "Menus", menus_path %></li>
      <li><%= link_to "<button>Add menu</button>".html_safe, new_menu_path %></li>
    </ul>

    <%= yield %>

    <div class="header">
      <%= render partial: 'layouts/footer' %>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
