<!DOCTYPE html>
<html>
  <head>
    <title>AppDailyEat</title>
    <%= csrf_meta_tags %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3zXSqSdtrHSUCOT_Sq-q6rOMyj-e59uA"></script>
  </head>

  <body>
    <!-- Modal -->
    <div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Welcome!</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="row">
      <div class="header">
        <%= render partial: 'layouts/header' %>
      </div>
    </div>


    <div class="flash_messages" id="flash" style="display:none" >
      <%= render partial: 'layouts/messages' %>
    </div>

      <% if current_user %>
      <div class="row">
        <div class="container-fluid">
          <div class="col-md-2" style="height:700px">
            <div class="lateral menu">
              <ul>
                <li><%= link_to "My Restaurant" %></li>
                <li><%= link_to "Meals", meals_path %></li>
                <li><%= link_to "Ingredients", ingredients_path %></li>
                <li><%= link_to "Menus", menus_path %></li>
                <li><%= link_to "<button>Add menu</button>".html_safe, new_menu_path %></li>
              </ul>
            </div>
          </div>

          <div clsas="col-md-9">
              <%= yield %>
          </div>
        </div>
      </div>
      <% else %>
          <%= yield %>
        </div>
      <% end %>


    <div class="header">
      <%= render partial: 'layouts/footer' %>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
